input[type=text]{
}
.nm{
    padding: 4px;
}
.us{
    padding: 4px;
}
.em{
padding: 4px;
}
.pw{
    padding: 4px;
}
.jk{
    padding: 4px;
}
.vl{
    padding: 4px;
}
.bg{
    padding: 4px;
}
.bt{
    padding: 4px;
}